@font-face {
  font-family: "GothamSSm-Book";
  src: url("../font/gothamSS/GothamSSm-Book.eot");
  src: local("GothamSSm Book"), local("GothamSSm-Book"), url("../font/gothamSS/GothamSSm-Book.eot?#iefix") format("embedded-opentype"), url("../font/gothamSS/GothamSSm-Book.woff2") format("woff2"), url("../font/gothamSS/GothamSSm-Book.woff") format("woff"), url("../font/gothamSS/GothamSSm-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm-Black";
  src: url("../font/gothamSS/GothamSSm-Black.eot");
  src: local("GothamSSm Black"), local("GothamSSm-Black"), url("../font/gothamSS/GothamSSm-Black.eot?#iefix") format("embedded-opentype"), url("../font/gothamSS/GothamSSm-Black.woff2") format("woff2"), url("../font/gothamSS/GothamSSm-Black.woff") format("woff"), url("../font/gothamSS/GothamSSm-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Maitree-Regular";
  src: url("../font/maitree/Maitree-Regular.eot");
  src: local("Maitree Regular"), local("Maitree-Regular"), url("../font/maitree/Maitree-Regular.eot?#iefix") format("embedded-opentype"), url("../font/maitree/Maitree-Regular.woff2") format("woff2"), url("../font/maitree/Maitree-Regular.woff") format("woff"), url("../font/maitree/Maitree-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MaterialIcons-Regular";
  src: url("../font/material/MaterialIcons-Regular.eot");
  src: local("MaterialIcons-Regular"), local("MaterialIcons-Regular"), url("../font/material/MaterialIcons-Regular.eot?#iefix") format("embedded-opentype"), url("../font/material/MaterialIcons-Regular.woff2") format("woff2"), url("../font/material/MaterialIcons-Regular.woff") format("woff"), url("../font/material/MaterialIcons-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 19, ../scss/style.scss */
.material-icons {
  font-family: 'MaterialIcons-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* line 44, ../scss/style.scss */
body {
  margin: 0;
  overflow-x: hidden;
}

/* line 49, ../scss/style.scss */
#intro {
  position: relative;
  background: #222;
  height: 100vh;
  min-height: 500px;
}
/* line 55, ../scss/style.scss */
#intro div {
  padding: 4rem 20% 0;
  text-align: center;
}
/* line 59, ../scss/style.scss */
#intro div .logo {
  width: 80%;
}
/* line 63, ../scss/style.scss */
#intro div .description {
  font-family: "GothamSSm-Black", Arial, sans-serif;
  display: block;
  text-transform: uppercase;
  margin: 3.5rem;
  color: #ffffff;
}
/* line 71, ../scss/style.scss */
#intro div .excerpt {
  font-family: "Maitree-Regular", Arial, sans-serif;
  text-align: justify;
  color: #a7a7a7;
}
/* line 76, ../scss/style.scss */
#intro div .excerpt::first-line {
  text-indent: 2rem;
}
/* line 80, ../scss/style.scss */
#intro div .excerpt::first-letter {
  color: #fcd116;
  font-weight: bold;
  font-size: 1.5rem;
}
/* line 89, ../scss/style.scss */
#intro .avatar {
  position: absolute;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
}

/* line 100, ../scss/style.scss */
#page {
  position: relative;
}

/* line 104, ../scss/style.scss */
#category, #file, #md {
  transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
  margin: 200px 30%;
  position: absolute;
  width: 40%;
  left: 0;
}
/* line 111, ../scss/style.scss */
#category.selected, #file.selected, #md.selected {
  transform: translateX(-250%);
}
/* line 115, ../scss/style.scss */
#category.not-selected, #file.not-selected, #md.not-selected {
  transform: translateX(250%);
}
/* line 119, ../scss/style.scss */
#category span, #file span, #md span {
  font-family: "GothamSSm-Black", Arial, sans-serif;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: #fcd116;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
/* line 129, ../scss/style.scss */
#category ul, #file ul, #md ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}
/* line 134, ../scss/style.scss */
#category ul li, #file ul li, #md ul li {
  font-family: "Maitree-Regular", Arial, sans-serif;
  padding: 1rem 2rem;
  border: 1px solid #fcd116;
  color: #333;
  border-bottom: none;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
/* line 144, ../scss/style.scss */
#category ul li:hover, #file ul li:hover, #md ul li:hover {
  background: #fcd116;
  color: white;
}
/* line 150, ../scss/style.scss */
#category ul:last-of-type, #file ul:last-of-type, #md ul:last-of-type {
  border-bottom: 1px solid #fcd116;
}

/* line 157, ../scss/style.scss */
#file .back i, #md .back i {
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translate3d(-50%, calc(-50% + 2.5rem), 0);
  font-size: 5rem;
  cursor: pointer;
}
